pycparser==2.*
cffi==1.15.*
brotlicffi==1.0.9.*
markupsafe==2.1.*
werkzeug==2.2.*
cryptography==40.0.*
charset-normalizer==3.0.*
idna==3.*
http_ece==1.1.*
pysocks==1.7.*
brotli==1.0.*
urllib3==1.26.*
six==1.16.*
py-vapid==1.9.*
certifi==2022.12.*
requests==2.29.*
pywebpush==1.14.*
waitress==2.1.*
